.people{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
        
}

.float-right { 
    float:right;
    padding-left: 25px;
    line-height: 0em;
    vertical-align: center;
}
.person {
    text-align: left;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 1em 1em 1em 1em;
    
}
.person > img {
    max-width: 10em;
    max-height: 10em;
    background-color: grey;
    border-radius: .66em;
    
}
.person > float-right > h6 {
    line-height: 1em;
    margin-bottom: 0.4em;
    font-weight: bold;
} 
.person > p {line-height: 1em;
    margin-bottom: 0.2em;
} 



